//нужно для антона

// @import 'includes/normalize.scss';
// @import 'includes/magnific.scss';
// @import 'includes/slick.scss';  
// @import 'includes/variables.scss';
// @import 'includes/grid.scss';
// @import 'includes/helpers.scss';

// ----------------------------------------------------------------------------------//

/*--- COMMON ---*/

body {
    font-size: rem(14);
    min-height: 100vh;
}

.overflow {overflow-y:hidden}

.js_wrapp_body {
    @include transition($time: 0.2s);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    display : block;
    position : fixed;
    width : 100%;
    height : 100%;
    top : 0;
    left : 0;
    z-index : 2;

    &.active {
        @include transition($time: 0.2s);
        display : block;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
}

.w100 {width:100%}
.h100 {height:100%}

figure {
    margin: 0;
}

.minh {    
	height: auto;
    min-height: 100vh;
}

/* Формы */
.input {
}


.textarea {

}



/* Изображения */
img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

/* Списки */
ul {
	margin: 0;
    padding: 0;
    list-style-type: none;

    li {
        position: relative;
    }
}

/* Ссылки */

a {
	outline:0;
	text-decoration:none;
	border-bottom: solid rem(1) transparent;
}



/* Текст */
.text--center {text-align: center;}
.text--left {text-align: left;}
.text--right {text-align: right;}
.text--justify {text-align: justify;}

p, h1, h2, h3, h4, h5, h6 {
	margin:0;
    padding:0;
}

.title_1 {}
.title_2 {}
.title_3 {}
.title_4 {}
.title_5 {}
.title_6 {} 

.button {}

/* шапка */
.header {

    .logo {
        position: relative;
        z-index: 2;
    }

    .mob_see {
        display: none;
        font-size: 27px;
        position: relative;
        //display: inline-block;
        top: 4px;
        color: #fff;  

        @include media(xl) {
            display: none;
        }
    }

    &_nav {

        .menu__item {
            
            &.here {
                
            }
        }
    }
}

.mob_close {
    position: absolute;
    width: 25px;
    height: 25px;
    top:10px;
    right: 10px;
    z-index: 20;

    &::before,
    &::after {
        @include pseudo;
        width: 100%;
        height: 1px;
        background: #fff;
        top: 50%;
    }

    &::before {transform: rotate(45deg);}
    &::after {transform: rotate(-45deg);}

    @include media(xl) {
        display: none;
        visibility: hidden;
    }
}

.breadcrumbs {

    &__separator {
        
    }

    .current {
       

        &::after {
            @include pseudo;
            width: 100%;
            height: 1px;
            background: #7FA956;
            left: 0;
            bottom: -1px;
        }
    }

    a {
        color: inherit;
    }
}

/* подвал */
.footer {

}

/* pop-up окна */
.popup {

    &_wrapper {
        @extend .m--center;
        @extend .c--center;
        @include transition($time: 0.2s);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        z-index: zindex('popup');
        visibility: hidden;

        &.active {
            @extend .flex;
            visibility: visible;
        }
    }

    &__background {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0,0,0,.7);
    }

    &--form{
        max-width: 670px;
        width: 90%;
    }

    &--success {
        max-width: 670px;
        width: 90%;
        padding: 0 0 20px 0;
    }

    &__content {
        position: relative;
        z-index: 10;
    }

    &__block {

    }

    &__close {
        z-index: 20;
        background: #fff;
        height: 41px;
        width: 41px;
        border-radius: 50%;
        opacity: 1;
        top: -23px;
        right: 50%;
        margin-right: -24px;
        padding: 0;
        line-height: 36px;
        cursor: pointer;
        border: unset;
        position: absolute;

        &:active {
            top: -23px;
        }

        @include media(md) {
            top: -40px;
            right: -12px;

            &:active {
                top: -40px;
            }
        }
    }
}

#jGrowl {
    opacity: 0;
    pointer-events: none;
    display: none;
}