// ФУНКЦИИ

// расчет z-index-ов (список значений лежит в _variables.scss)
@function zindex($name) {
    @if index($z-indexes, $name) == 1 {
        @return index($z-indexes, $name);
    } @else {
        @return (index($z-indexes, $name)*10);
    }
}

// конвертация px => rem
@function rem($item) {
	$rem_size: $item / 16;
	@return #{$rem_size}rem;
}
// rem(20);

// МИКСИНЫ

// фоновые градиенты
@mixin gradient($direction, $list) { 
    background: linear-gradient($direction, $list); 
}
// @include gradient(90deg, $gradient_1);

// минимальные стили для псевдо-элементов
@mixin pseudo($display: block, $pos: absolute, $content: ''){
	content: $content;
	display: $display;
	position: $pos;
}
// @include pseudo;
// @include pseudo($pos: relative);

@mixin transition($prop: all, $time: 0.11s, $function:linear, $delay: 0s){
    transition-property: $prop; // что анимируем
    transition-duration: $time; // длительность анимации
    transition-timing-function: $function; // как анимируем
    transition-delay: $delay; // задержка анимации
}
// @include transition;
// @include transition($time: 0.2s);

// Дополнительные классы для контейнеров, выравнивания и позиционирования элементов
*{-webkit-box-sizing: border-box; -moz-box-sizing:border-box;box-sizing:border-box}
*:before,*:after{-webkit-box-sizing: border-box; -moz-box-sizing:border-box;box-sizing:border-box}

.wrapper_full {
	width: 100%;
	max-width: rem(1920);
	margin-left:auto;
	margin-right:auto;
	overflow: hidden;
}

.wrapper{
	width: 100%;
	max-width: rem($wrapper_fixed);
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-left:rem($indents*2);
	padding-right:rem($indents*2);

	@include media(lg){
		padding-left:rem($indents);
		padding-right:rem($indents);
	}

	@include media(xl){
		max-width: rem(1162+$indents*2);
	}

	@media (max-width:355px) {
		padding-left:rem($indents);
		padding-right:rem($indents);
	}
}

.table{display:table;width:100%;height: 100%;}
.table > *{display:table-cell}
.inline > *{display:inline}
.inline--block > *{display: inline-block;}
.inline--flex{display: inline-flex;}
.block {display:block;}
.float > *{display: block;float:left;}
.float:after{content: "";display: block;overflow: hidden;clear: both;}
.flex{display:-ms-flexbox;display:-webkit-flex;display:flex}
/* .box - добавляем отступы между элементами сетки */
.box{margin-left: rem(-$indents);margin-right: rem(-$indents)}
.box > *{padding-left: rem($indents); padding-right: rem($indents); margin-bottom: rem($indents*2)}
.box--no_mb > *{margin-bottom: unset}
/* несколько стилей для контента. Прижимает картинку. Чистит флоаты для родителя. */
.clear{content: "";display: block;overflow: hidden;clear: both;}
.float--right {float:right;}
.float--left {float:left;}
.float--none {float:none;}
/*позиция и видимость элемента*/
.hidden{display:none!important}
.visible{display:block!important}
.static{position:static}
.relative{position:relative}
.absolute{position:absolute}
.fixed{position:fixed}
/*перенос строк для дочерних элементов*/
.wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}
.nowrap{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
.wrap--reverse{-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}
.row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
.row--reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
.column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
.column--reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}	
/* выравнивание вдоль главной оси - main axis */
.m--start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
.m--end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
.m--center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
.m--between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
.m--around{-ms-flex-pack:distribute;justify-content:space-around}
.m--spase{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}
/* выравнивание вдоль поперечной оси - cross axis */
.c--start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
.c--end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
.c--center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
.c--baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}
.c--stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}
/*выравнивание вдоль поперечной отдельного элемента - self item*/
.s--start{-ms-flex-item-align:start;align-self:flex-start}
.s--end{-ms-flex-item-align:end;align-self:flex-end}
.s--center{-ms-flex-item-align:center;align-self:center}
.s--baseline{-ms-flex-item-align:baseline;align-self:baseline}
.s--stretch{-ms-flex-item-align:stretch;align-self:stretch}
/*автоматические отступы для отдельного элемента */
.a--right{margin-right:auto}
.a--left{margin-left:auto}
.a--bottom{margin-bottom:auto}
.a--top{margin-top:auto}
.a--main{margin-left:auto; margin-right:auto}
.a--cross{margin-top:auto; margin-bottom:auto}
.a--center{margin:auto}
// ЦИКЛ С MEDIA - ЗАПРОСАМИ 

@each $prefix, $width in $breakpoints {
    @media screen and (min-width: $width+'px') {
		
		@for $i from 1 through $grids {
			.#{$prefix}_order--#{$i} {@include for_orders($i);}
		}
		.#{$prefix}_table {display:table;width:100%}
		.#{$prefix}_table > *{display:table-cell}
		.#{$prefix}_inline > *{display:inline}
		.#{$prefix}_inline--block > *{display:inline-block}
		.#{$prefix}_inline--flex{display: inline-flex;}
		.#{$prefix}_block{display:block;}
		.#{$prefix}_flex{display:-ms-flexbox;display:-webkit-flex;display:flex}
		.#{$prefix}_box{margin-left: rem(-$indents);margin-right: rem(-$indents)}
		.#{$prefix}_box > *{padding-left: rem($indents); padding-right: rem($indents); margin-bottom: rem($indents*2)}
		.#{$prefix}_box--no_mb > *{margin-bottom: unset}
		.#{$prefix}_hidden{display:none!important}
		.#{$prefix}_visible{display:block!important}
		.#{$prefix}_relative{position:relative}
		.#{$prefix}_absolute{position:absolute}
		.#{$prefix}_fixed{position:fixed}
		.#{$prefix}_wrap{-ms-flex-wrap:wrap;flex-wrap:wrap}
		.#{$prefix}_nowrap{-ms-flex-wrap:nowrap;flex-wrap:nowrap}
		.#{$prefix}_wrap--reverse{-ms-flex-wrap:wrap-reverse;flex-wrap:wrap-reverse}
		.#{$prefix}_row{-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row}
		.#{$prefix}_row--reverse{-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}
		.#{$prefix}_column{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}
		.#{$prefix}_column--reverse{-webkit-box-orient:vertical;-webkit-box-direction:reverse;-ms-flex-direction:column-reverse;flex-direction:column-reverse}	
		.#{$prefix}_m--start{-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start}
		.#{$prefix}_m--end{-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end}
		.#{$prefix}_m--center{-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
		.#{$prefix}_m--between{-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}
		.#{$prefix}_m--around{-ms-flex-pack:distribute;justify-content:space-around}
		.#{$prefix}_m--spase{-webkit-box-pack:space-evenly;-ms-flex-pack:space-evenly;justify-content:space-evenly}
		.#{$prefix}_c--start{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start}
		.#{$prefix}_c--end{-webkit-box-align:end;-ms-flex-align:end;align-items:flex-end}
		.#{$prefix}_c--center{-webkit-box-align:center;-ms-flex-align:center;align-items:center}
		.#{$prefix}_c--baseline{-webkit-box-align:baseline;-ms-flex-align:baseline;align-items:baseline}
		.#{$prefix}_c--stretch{-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch}
		.#{$prefix}_s--start{-ms-flex-item-align:start;align-self:flex-start}
		.#{$prefix}_s--end{-ms-flex-item-align:end;align-self:flex-end}
		.#{$prefix}_s--center{-ms-flex-item-align:center;align-self:center}
		.#{$prefix}_s--baseline{-ms-flex-item-align:baseline;align-self:baseline}
		.#{$prefix}_s--stretch{-ms-flex-item-align:stretch;align-self:stretch}
		.#{$prefix}_a--right{margin-right:auto}
		.#{$prefix}_a--left{margin-left:auto}
		.#{$prefix}_a--bottom{margin-bottom:auto}
		.#{$prefix}_a--top{margin-top:auto}
		.#{$prefix}_a--main{margin-left:auto; margin-right:auto}
		.#{$prefix}_a--cross{margin-top:auto; margin-bottom:auto}
		.#{$prefix}_a--center{margin:auto}
    }
}