// ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ

// Значение по умолчанию (+ совместимость с предудущими версиями)
$grids: 12; // колличество колонок
$indents: 15; // отступы между элементами (если у контейера есть .box)

$wrapper_fixed: 1160; // фиксированная ширина для класса обертки


// Брейкпоинты (минимальная ширина(min-width))
$breakpoints: (
    sm: 420,
    md: 768,
    lg: 1180,
    xl: 1360,
    xxl: 1650,
    re: 1920,
);

// Дополниетельный размер
$costom_media: 890;

//@media screen and (min-width: rem($costom_media)) {}

// пример: @include media(sm) { }

// Дополнительные колонки в брейкпоинтах, если нужно отличное от стандартного (можно несколько через запятую).
$custom_grids: (
    sm: ()
);
// пример: .sm_2 > .sm_sgrid_1

// генерация z-index
$z-indexes: (
    "content",
    "fixed",
	"tooltip",
	"dropdown",
    "popup",
);
// пример: z-index: zindex('content');

// ПЕРЕМЕННЫЕ ПРОЕКТА (цвета, шфрифты, отступы)

$font_1: 'Roboto', sans-serif; //основной шрифт
$font_2: 'Roboto Condensed', sans-serif; //основной шрифт

$color_1: #555B65;
$color_2: #C25A60;
$color_3: #5977A4;
$color_4: #fff;
$color_5: #445576;
$color_6: #82A1CF;
$color_7: #17191B;
$color_8: #464748;