// ГЛОБАЛЬНЫЕ ПЕРЕМЕННЫЕ

// Значение по умолчанию (+ совместимость с предудущими версиями)
$grids: 12; // колличество колонок
$indents: 15; // отступы между элементами (если у контейера есть .box)

$wrapper_fixed: 1320; // фиксированная ширина для класса обертки

// Брейкпоинты (минимальная ширина(min-width))
$breakpoints: (
    sm: 420,
    md: 768,
    lg: 1150,
    xl: $wrapper_fixed,
    xxl: 1680,
    re: 1920,
);

// Дополниетельный размер
$costom_media: 890;

//@media screen and (min-width: rem($costom_media)) {}

// пример: @include media(sm) { }

// Дополнительные колонки в брейкпоинтах, если нужно отличное от стандартного (можно несколько через запятую).
$custom_grids: (
    sm: ()
);
// пример: .sm_2 > .sm_sgrid_1

// генерация z-index
$z-indexes: (
    "content",
    "fixed",
	"tooltip",
	"dropdown",
    "popup",
);
// пример: z-index: zindex('content');

// ПЕРЕМЕННЫЕ ПРОЕКТА (цвета, шфрифты, отступы)

$font_1: 'Roboto', sans-serif; //основной шрифт

$color_1: #444542; //основной темный цвет
$color_2: #fff; //основной белый цвет

$color_3: #2A2D36;

$gradient_1: #52881A 0%, #7BAE45 100%;
